
/* ✅ Phần chung cho mọi phần tử ẩn trước khi xuất hiện */
.muc,hr,.item,.chuy,.noidungabout,.chitietabout, .contentthongbao,.demuc{
    opacity: 0;
    transform: translateY(50px);
    filter: blur(10px);
    transition: all 0.5s ease-out;
    will-change: transform, opacity, filter;
}
.lv2{
    opacity: 0;
    transform: translateY(-20px);
    filter: blur(10px);
    max-height: 0;
    transition: all 0.5s ease-out;
}

.card{
  opacity: 0;
  transform: translateY(50px);
  filter: blur(10px);
  transition: all 0.5s ease-out;
  will-change: transform, opacity, filter;
}

.topmot{
    opacity: 0;
    transform: translateX(-100px);
    filter: blur(10px);
    transition: all 0.5s cubic-bezier(0, 0, 0, 1);
    will-change: transform, opacity, filter;
}

.tophai{
    opacity: 0;
    transform: translateX(100px);
    filter: blur(10px);
    transition: all 0.5s cubic-bezier(0, 0, 0, 1);
    will-change: transform, opacity, filter;
}

/* ✅ Khi đã xuất hiện (được thêm class 'show' trong JS) */
.show {
    opacity: 1;
    transform: none;
    filter: blur(0);
}
