@font-face {
  font-family: 'Comorant Medium';
  src: url('../source/font/CormorantUnicase-Medium.ttf') format('truetype');
}
@font-face{
  font-family: 'Montserrat';
  src: url('../source/font/Montserrat-Bold.ttf') format('truetype');
}
@font-face{
  font-family: 'Chinese';
  src: url('../source/font/titlefont_zhong.ttf') format('truetype');
}